<div class="user-wrap boxsiz">
    <div class="user-header">
        <h2 class="subtitle">与世界分享你的厨艺，心得</h2>
    </div>
    <div class="index-tab-navs">
        <div class="navs-slider clr">
            <a [routerLink]="['/register']" routerLinkActive="active">注册</a>
            <a [routerLink]="['/login']" routerLinkActive="active">登录</a>
            <span class="navs-slider-bar"></span>
        </div>
    </div>
    <div class="user-wrap-view">
        <form [formGroup]="formModelLogin"  (submit)="onSubmit()" >
            <div class="group-inputs">
                <div class="name input-wrapper" [class.has-error]="formModelLogin.get('phone').touched&&(formModelLogin.hasError('required','phone')||formModelLogin.hasError('minlength','phone'))">
                    <input type="text" placeholder="手机或邮箱" formControlName="phone"  />
                    <label [hidden]="formModelLogin.get('phone').untouched || !formModelLogin.hasError('required','phone')" class="error">必填项</label>
                    <label [hidden]="formModelLogin.get('phone').untouched || !formModelLogin.hasError('minlength','phone')" class="error">最少输入6个字符</label>
                </div>
                <div class="input-wrapper" [class.has-error]="formModelLogin.get('password').touched&&(formModelLogin.hasError('required','password')||formModelLogin.hasError('minlength','password'))">
                    <input type="password" placeholder="密码" formControlName="password"/>
                  <label [hidden]="formModelLogin.get('password').untouched || !formModelLogin.hasError('required','password')" class="error">必填项</label>
                  <label [hidden]="formModelLogin.get('password').untouched || !formModelLogin.hasError('minlength','password')" class="error">最少输入6个字符</label>
                </div>
            </div>
            <div class="button-wrapper">
                <button class="sign-button submit" type="submit">登录</button>
            </div>
        </form>
    </div>
</div>
<app-alert></app-alert>
