.contentbox{
    width: 100%;
    background-color: #f7f7f7;
}
.content {
    width: 1024px;
    margin: 0 auto 0;
    padding-top: 20px;
}

.content .newslist {
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
}

.content .newslist li {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 1%;
    margin-bottom: 1%;
}

.content .newslist li a {
    display: block;
}
.content .newslist li:hover{
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.content .newslist li img {
    width: 100%;
}
.content .newslist li:last-child{
    margin-right: 0;
}
.content .newslist li .textwrap {
    position: absolute;
    left: 0;
    top: 79px;
    width: 100%;
    text-align: center;
}
.content .newslist li .text{
    color: #fff;
    font-size: 14px;
}
