<app-header [fix]="true"></app-header>
<app-slide></app-slide>
<section class="contentbox">
    <div class="content">
        <ul class="newslist">
            <li *ngFor="let item of contentNews | async;let i = index;">
                <a [routerLink]="['/details', item.id]">
                    <img src="{{item.imgUrl}}" alt="">
                    <div class="textwrap">
                        <p class="text">{{item.name}}</p>
                    </div>
                </a>
            </li>
        </ul>
        <app-foots></app-foots>
    </div>
</section>
