<app-header [fix]="true"></app-header>
<section class="mt-50">
  <form>
    <ul class="up-box">
      <li class="list-item">
          <input type="text" placeholder="请输入菜谱名称">
      </li>
      <li class="list-item">
          <a >添加菜谱名称</a>
      </li>
      <li class="list-item">
          <select>
            <option>菜谱难度</option>
            <option>入门</option>
          </select>
          <select>
            <option>烹饪时间</option>
            <option>10分钟左右</option>
            <option>10-30分钟</option>
            <option>30-60分钟</option>
            <option>一个小时以上</option>
          </select>
      </li>
      <li class="list-item">
         <ul>
           <li>
             <p><span>主料</span><span>用量</span></p>
           </li>
           <li>
             <input type="text" placeholder="如：五花肉" >
             <input type="text" placeholder="如：250g" >
             <i class="close"></i>
           </li>
           <li>
             <input type="text" placeholder="如：五花肉" >
             <input type="text" placeholder="如：250g" >
             <i class="close"></i>
           </li>
           <li>
             <input type="text" placeholder="如：五花肉" >
             <input type="text" placeholder="如：250g" >
             <i class="close"></i>
           </li>
         </ul>
         <ul>
           <li>
             <p><span>辅料</span><span>用量</span></p>
           </li>
           <li>
             <input type="text" placeholder="如：盐" >
             <input type="text" placeholder="如：5g" >
             <i class="close"></i>
           </li>
           <li>
             <input type="text" placeholder="如：五花肉" >
             <input type="text" placeholder="如：250g" >
             <i class="close"></i>
           </li>
           <li>
             <input type="text" placeholder="如：五花肉" >
             <input type="text" placeholder="如：250g" >
             <i class="close"></i>
           </li>
         </ul>
      </li>
      <li class="list-item">
         <p class="">步骤<a>批量上传</a>（按住ctrl可多选，最多为6张）</p>
          <a></a>
      </li>
      <li class="list-item">
          <a >添加菜谱名称</a>
      </li>
      <li class="list-item">
          <a >添加菜谱名称</a>
      </li>
    </ul>
    <a class="layui-btn">提交</a>
  </form>
</section>
