<div class="user-wrap boxsiz">
    <div class="user-header">
        <h2 class="subtitle">与世界分享你的厨艺，心得</h2>
    </div>
    <div class="index-tab-navs">
        <div class="navs-slider clr">
            <a [routerLink]="['/register']" routerLinkActive="active">注册</a>
            <a [routerLink]="['/login']" routerLinkActive="active">登录</a>
            <span class="navs-slider-bar"></span>
        </div>
    </div>
    <div class="user-wrap-view">
        <form [formGroup]="formModelRegister" (submit)="onSubmit()">
            <div class="group-inputs">
                <div class="name input-wrapper" [class.has-error]="formModelRegister.get('username').touched && (formModelRegister.hasError('minlength','username') || formModelRegister.hasError('required','name'))">
                    <input type="text" placeholder="姓名" formControlName="username" autofocus="autofocus" />
                    <label [hidden]="formModelRegister.get('username').untouched || !formModelRegister.hasError('required','username')" class="error">姓名是必填项</label>
                    <label [hidden]="formModelRegister.get('username').untouched || !formModelRegister.hasError('minlength','username')" class="error">姓名最小长度是2</label>
                </div>
                <div class="input-wrapper" [class.has-error]="formModelRegister.get('phone').touched && (formModelRegister.hasError('phone','mobile'))">
                    <input type="text" placeholder="手机号" formControlName="phone"/>
                    <label class="error" [hidden]="formModelRegister.get('phone').untouched || !formModelRegister.hasError('phone','phone')">请填写正确手机号</label>
                </div>
                <div class="input-wrapper" [class.has-error]="formModelRegister.get('password').touched && (formModelRegister.hasError('minlength','password') || formModelRegister.hasError('required','password'))">
                    <input type="password" placeholder="密码（不少于 6 位）" formControlName="password"/>
                    <label [hidden]="formModelRegister.get('password').untouched || !formModelRegister.hasError('required','password')" class="error">密码是必填项</label>
                    <label [hidden]="formModelRegister.get('password').untouched || !formModelRegister.hasError('minlength','password')" class="error">密码最小长度是6</label>
                </div>
            </div>
            <div class="button-wrapper">
                <button class="sign-button submit" type="submit">注册</button>
            </div>
        </form>
    </div>
</div>
<app-alert></app-alert>
<div id="whale" class="whale"></div>
