.head{
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    background: #000;
}
.head .head-wrap{
    position: relative;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}
.head .logowrap{
    position: absolute;
    top:50%;
    left:0;
    margin-top: -17px;
}
.head .logowrap a{
    display: block;
}
.head .head-wrap ul{
    margin-left: 54px;
    height: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
}
.head .head-wrap ul li{
    width: 90px;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    display: block;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.head .head-wrap ul li:hover a{
    color: #fff;
}
.head .head-wrap ul li a{
    display: block;
    font-size: 14px;
    color:#bfbfbf;
}
.head .head-wrap ul li a.active{
    color: #fff;
}
.head .navbar{
    margin-top: 10px;
}
.head .navbar .btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 20px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 3px;
}
.head .navbar .btn-success{
    color: #fff;
    background-color: #22b98f;
    border-color: transparent;
}
.head .navbar .btn-secondary{
    color: #fff;
    background-color: #484458;
    border-color: transparent;
}
.head .navbar .btn-success:hover {
    color: #fff;
    background-color: #289a7a;
    border-color: transparent;
}
.head .navbar .btn-secondary:hover {
    color: #fff;
    background-color: #403f43;
    border-color: transparent;
}