<div class="foot-wrap">
    <p class="title">热门菜谱</p>
    <div class="foots-list clr">
        <div class="foot-l fl">
            <a href="">
                <img src="../../../assets/images/661af50514e190a9d8b20791df32f6c7,c_fill,h_400,w_400.jpg" alt="">
                <p class="text">【墨西哥鸡肉卷】墨西哥鸡肉卷做法 墨</p>
            </a>
        </div>
        <div class="foot-r fr">
            <ul class="clr">
                <li>
                    <a href="">
                        <img src="../../../assets/images/food-chicken-meat-outdoors.jpg" alt="">
                        <p class="text">【墨西哥鸡肉卷】墨西哥鸡肉卷做法 墨</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../../assets/images/371338.jpg" alt="">
                        <p class="text">【墨西哥鸡肉卷】墨西哥鸡肉卷做法 墨</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../../assets/images/371338.jpg" alt="">
                        <p class="text">【墨西哥鸡肉卷】墨西哥鸡肉卷做法 墨</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../../../assets/images/food-chicken-meat-outdoors.jpg" alt="">
                        <p class="text">【墨西哥鸡肉卷】墨西哥鸡肉卷做法 墨</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="title">最新菜谱</p>
    <div class="foots-lists clr">
        <ul class="clr foot-type">
            <li>
                <a href="">
                    <img src="../../../assets/images/food-chicken-meat-outdoors.jpg" alt="">
                </a>
                <div class="text">
                    <p class="t1">【牛油果沙拉】藜麦牛油果沙拉的做法_日式牛油果沙拉怎么做</p>
                    <p class="t2">
                        <span>标签：</span>
                        <a href="javascript:;">保护消化系统</a>
                        <a href="javascript:;">补肾止带</a>
                        <a href="javascript:;">降低胆固醇</a>
                        <a href="javascript:;">牛油果</a>
                    </p>
                </div>

            </li>
            <li>
                <a href="">
                    <img src="../../../assets/images/food-chicken-meat-outdoors.jpg" alt="">
                </a>
                <div class="text">
                    <p class="t1">【牛油果沙拉】藜麦牛油果沙拉的做法_日式牛油果沙拉怎么做</p>
                    <p class="t2">
                        <span>标签：</span>
                        <a href="javascript:;">补肾止带</a>
                        <a href="javascript:;">豆角</a>
                        <a href="javascript:;">降低胆固醇</a>
                        <a href="javascript:;">牛油果</a>
                    </p>
                </div>

            </li>
            <li>
                <a href="">
                    <img src="../../../assets/images/food-chicken-meat-outdoors.jpg" alt="">
                </a>
                <div class="text">
                    <p class="t1">【牛油果沙拉】藜麦牛油果沙拉的做法_日式牛油果沙拉怎么做</p>
                    <p class="t2">
                        <span>标签：</span>
                        <a href="javascript:;">助消化</a>
                        <a href="javascript:;">美容护肤</a>
                        <a href="javascript:;">苦瓜</a>
                        <a href="javascript:;">牛油果</a>
                    </p>
                </div>

            </li>
            <li>
                <a href="">
                    <img src="../../../assets/images/food-chicken-meat-outdoors.jpg" alt="">
                </a>
                <div class="text">
                    <p class="t1">【牛油果沙拉】藜麦牛油果沙拉的做法_日式牛油果沙拉怎么做</p>
                    <p class="t2">
                        <span>标签：</span>
                        <a href="javascript:;">保护消化系统</a>
                        <a href="javascript:;">美容护肤</a>
                        <a href="javascript:;">降低胆固醇</a>
                        <a href="javascript:;">牛油果</a>
                    </p>
                </div>

            </li>
            <li>
                <a href="">
                    <img src="../../../assets/images/food-chicken-meat-outdoors.jpg" alt="">
                </a>
                <div class="text">
                    <p class="t1">【牛油果沙拉】藜麦牛油果沙拉的做法_日式牛油果沙拉怎么做</p>
                    <p class="t2">
                        <span>标签：</span>
                        <a href="javascript:;">保护消化系统</a>
                        <a href="javascript:;">美容护肤</a>
                        <a href="javascript:;">降低胆固醇</a>
                        <a href="javascript:;">牛油果</a>
                    </p>
                </div>

            </li>
            <li>
                <a href="">
                    <img src="../../../assets/images/food-chicken-meat-outdoors.jpg" alt="">
                </a>
                <div class="text">
                    <p class="t1">【牛油果沙拉】藜麦牛油果沙拉的做法_日式牛油果沙拉怎么做</p>
                    <p class="t2">
                        <span>标签：</span>
                        <a href="javascript:;">保护消化系统</a>
                        <a href="javascript:;">美容护肤</a>
                        <a href="javascript:;">降低胆固醇</a>
                        <a href="javascript:;">牛油果</a>
                    </p>
                </div>

            </li>
            <li>
                <a href="">
                    <img src="../../../assets/images/food-chicken-meat-outdoors.jpg" alt="">
                </a>
                <div class="text">
                    <p class="t1">【牛油果沙拉】藜麦牛油果沙拉的做法_日式牛油果沙拉怎么做</p>
                    <p class="t2">
                        <span>标签：</span>
                        <a href="javascript:;">保护消化系统</a>
                        <a href="javascript:;">美容护肤</a>
                        <a href="javascript:;">降低胆固醇</a>
                        <a href="javascript:;">牛油果</a>
                    </p>
                </div>

            </li>
            <li>
                <a href="">
                    <img src="../../../assets/images/food-chicken-meat-outdoors.jpg" alt="">
                </a>
                <div class="text">
                    <p class="t1">【牛油果沙拉】藜麦牛油果沙拉的做法_日式牛油果沙拉怎么做</p>
                    <p class="t2">
                        <span>标签：</span>
                        <a href="javascript:;">保护消化系统</a>
                        <a href="javascript:;">美容护肤</a>
                        <a href="javascript:;">降低胆固醇</a>
                        <a href="javascript:;">牛油果</a>
                    </p>
                </div>

            </li>
        </ul>
    </div>
</div>